*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 150em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  background-color: black;
  color: white; }

.categories {
  border: 1rem solid green;
  height: 80vh;
  grid-column: 1/6;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr); }
  .categories .item {
    border: 1rem solid #06e418;
    display: grid;
    grid-template-rows: 1fr, 1fr, 2fr; }
    .categories .item svg {
      height: 7rem;
      padding-top: 1rem;
      fill: aqua;
      grid-row: 1/2; }
    .categories .item h2 {
      justify-self: center; }

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../img/notes-hero.jpg);
  object-fit: cover;
  grid-row: 1/2;
  grid-column: 1/6;
  align-content: center; }
  .header__heading {
    text-align: center; }
    .header__heading h1 {
      font-size: 4rem; }
    .header__heading .icon {
      fill: white;
      height: 6rem; }

.main-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 60vh max-content;
  grid-template-columns: repeat(5, 1fr); }
