*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 150em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  background-color: black;
  color: white; }

.header {
  border: 1px solid red;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../img/notes-hero.jpg);
  object-fit: cover;
  grid-column: 1/6;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .header__heading {
    border: 1px solid red;
    text-align: center;
    margin-top: 12rem; }
    .header__heading h1 {
      font-size: 4rem; }

.main-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 40vh max-content;
  grid-template-columns: repeat(5, 1fr); }
