*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 150em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  background-color: black;
  color: white; }

.categories {
  grid-column: 1/6;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr); }
  .categories .item {
    padding-top: 2rem;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr; }
    .categories .item:hover {
      background-color: #051e27; }
    .categories .item svg {
      height: 7rem;
      padding-top: 1rem;
      fill: #17a2b8;
      grid-row: 1/2; }
    .categories .item h2 {
      font-size: 3rem;
      align-self: end;
      justify-self: center; }
    .categories .item p {
      font-size: 1.5rem;
      text-align: center;
      align-self: center; }

.flexbox-testing {
  margin-top: 5rem;
  margin-bottom: 20rem;
  font-size: 15rem;
  display: flex;
  flex-wrap: wrap; }
  .flexbox-testing .flex-item {
    text-align: center;
    vertical-align: middle;
    line-height: 20rem;
    flex-basis: 12.5%; }
  .flexbox-testing .f-item1 {
    background-color: red; }
  .flexbox-testing .f-item2 {
    background-color: orange; }
  .flexbox-testing .f-item3 {
    background-color: blue; }
  .flexbox-testing .f-item4 {
    background-color: green; }
  .flexbox-testing .f-item5 {
    background-color: pink; }
  .flexbox-testing .f-item6 {
    background-color: purple; }
  .flexbox-testing .f-item7 {
    background-color: darkcyan; }
  .flexbox-testing .f-item8 {
    background-color: darkkhaki; }

.grid-testing {
  margin-top: 5rem;
  margin-bottom: 20rem;
  font-size: 15rem;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr); }
  .grid-testing .grid-item {
    text-align: center;
    vertical-align: middle;
    line-height: 30rem; }
  .grid-testing .g-item1 {
    background-color: red; }
  .grid-testing .g-item2 {
    background-color: yellowgreen; }
  .grid-testing .g-item3 {
    background-color: steelblue; }
  .grid-testing .g-item4 {
    background-color: seagreen; }
  .grid-testing .g-item5 {
    background-color: mediumorchid; }
  .grid-testing .g-item6 {
    background-color: indigo; }
  .grid-testing .g-item7 {
    background-color: indianred; }
  .grid-testing .g-item8 {
    background-color: hotpink; }
  .grid-testing .g-item9 {
    background-color: darkslategray; }
  .grid-testing .g-item10 {
    background-color: darkorange; }
  .grid-testing .g-item11 {
    background-color: darkgrey; }
  .grid-testing .g-item12 {
    background-color: darkgreen; }
  .grid-testing .g-item13 {
    background-color: darkgoldenrod; }
  .grid-testing .g-item14 {
    background-color: cadetblue; }
  .grid-testing .g-item15 {
    background-color: brown; }
  .grid-testing .g-item16 {
    background-color: blueviolet; }

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../img/notes-hero.jpg);
  background-size: cover;
  grid-row: 1/2;
  grid-column: 1/6; }
  .header__heading {
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header__heading h1 {
      font-size: 4rem; }

.main-container {
  height: auto;
  display: grid;
  grid-template-rows: 60vh max-content;
  grid-template-columns: repeat(5, 1fr); }

.modal {
  color: #5a5a5a; }
  .modal .modal-title {
    font-size: 4rem;
    padding-left: 10%; }
  .modal .modal-body {
    padding: 0 5% 0 5%; }
  .modal .modal-body ul {
    list-style: square;
    font-family: hind, sans-serif;
    font-size: 1.2rem;
    padding: 1rem 0;
    padding-left: 3%; }
  .modal .modal-body p {
    font-family: hind, sans-serif;
    font-size: 1.2rem; }
  .modal .modal-body ul.career {
    list-style: none; }
