.categories {

  grid-column: 1/6;
  grid-row: 2;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);

  & .item {
    padding-top: 2rem;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;

    &:hover {
      background-color: rgb(5, 30, 39);
    }

    & svg {
      height: 7rem;
      padding-top: 1rem;
      fill: $color-text-secondary;

      grid-row: 1/2;
    }

    & h2 {      
      font-size: 3rem;
      align-self: end;
      justify-self: center;
    }

    & p {
      font-size: 1.5rem;
      text-align: center;

      align-self: center;
    }
  }
}







.flexbox-testing {
  margin-top: 5rem;
  margin-bottom: 20rem;
  font-size: 15rem;

  display: flex;
  flex-wrap: wrap;

  & .flex-item {
    text-align: center;
    vertical-align: middle;
    line-height: 20rem;

    flex-basis: 12.5%
  }

  & .item1 {
    background-color: red;
  }
  & .item2 {
    background-color: orange;
  }
  & .item3 {
    background-color: blue;
  }
  & .item4 {
    background-color: green;
  }
  & .item5 {
    background-color: pink;
  }
  & .item6 {
    background-color: purple;
  }
  & .item7 {
    background-color: darkcyan;
  }
  & .item8 {
    background-color: darkkhaki;
  }
}
