.categories {
  border: 1rem solid green;
  height: 80vh; // temporary

  grid-column: 1/6;
  grid-row: 2;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);

  & .item {
    border: 1rem solid rgb(6, 228, 24);

    display: grid;
    grid-template-rows: 1fr, 1fr, 2fr;


    & svg {
      height: 7rem;
      padding-top: 1rem;
      fill: aqua;

      grid-row: 1/2;
    }

    & h2 {      
      justify-self: center;
    }
  }
}
