.header {
  background-image: linear-gradient(rgba($color-black, .6), rgba($color-black, .6)), url(../../img/notes-hero.jpg);
  object-fit: cover;

  grid-row: 1/2;
  grid-column: 1/6;
  align-content: center;

  &__heading {
    text-align: center;

    & h1 {
      font-size: 4rem;
    }

    & .icon {
      fill: white;
      height: 6rem;
    }
  }
}
