.header {
  background-image: linear-gradient(rgba($color-black, .6), rgba($color-black, .6)), url(../../img/notes-hero.jpg);
  background-size: cover;

  grid-row: 1/2;
  grid-column: 1/6;
  

  &__heading {
    height: 100%;
    text-align: center;
    
    display: flex;
    justify-content: center;
    align-items: center;

    & h1 {
      font-size: 4rem;
    }
  }
}
